In [6]:
import pandas as pd

In [7]:
info = pd.read_csv('/network/tmp1/barinpvi/data/canopex/CANOPEX_ENVCAN_ASCII/CANOPEX_ENVCAN.txt', 
                   header=None, delimiter='\t', 
                   names=['lat', 'lon', 'hydrosheds_area', 'station1', 'station2', 'province', 'station_id', 'river'])

In [8]:
info.head()

,lat,lon,hydrosheds_area,station1,station2,province,station_id,river
1,-104.7358,55.6475,114248.00,10X1963,12X2012,SK,06CD002,CHURCHILL RIVER ABOVE OTTER RAPIDS
2,-96.6090,49.6436,702.09,03X1964,12X2012,MB,05OH007,SEINE RIVER NEAR STE. ANNE
3,-128.1508,59.9508,9148.05,01X1951,12X1993,BC,10AD001,HYLAND RIVER NEAR LOWER POST
4,-126.9506,59.6914,8775.39,08X1961,03X1995,BC,10BC001,COAL RIVER AT THE MOUTH
5,-134.3325,59.9478,895.43,07X1956,12X2012,BC,09AA013,TUTSHI RIVER AT OUTLET OF TUTSHI LAKE

In [4]:
dir_name = '/network/tmp1/barinpvi/data/canopex_csv/*.csv'

In [2]:
import glob

In [ ]:
for f in glob.glob(dir_name):
    f_name = f.split('/')[-1].split('.')[0]
    #print(f)
    print(f_name)
    lat = info.loc[int(f_name), 'lon']
    lon = info.loc[int(f_name), 'lat']
    
    df = pd.read_csv('/network/tmp1/barinpvi/data/canopex_csv/'+f_name+'.csv')
    if (df.empty):
        pass
    df['lat'] = lat
    df['lon'] = lon
    
    #print(df.head())
    df.to_csv('/network/tmp1/barinpvi/data/preprocessed_canopex_envcan/'+f_name+'.csv', index=False)

In [37]:
df1 = pd.read_csv('/network/tmp1/barinpvi/data/preprocessed_canopex_envcan/100.csv')

In [38]:
df1.head()

         date  precip  evap  discharge  max_temp  min_temp     lat       lon
0  1968-02-01  5.9554   NaN        NaN  -29.1428  -32.9766  54.752 -117.2057
1  1968-02-02  7.8870   NaN        NaN  -29.8786  -31.8214  54.752 -117.2057
2  1968-02-03  4.2104   NaN        NaN  -13.9552  -36.3428  54.752 -117.2057
3  1968-02-04  0.0000   NaN        NaN    2.4909  -30.9786  54.752 -117.2057
4  1968-02-05  0.0000   NaN        NaN    0.6552  -24.4662  54.752 -117.2057